In [46]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv("Raw Data/cleaned_players.csv")
df.head()

,first_name,second_name,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost,element_type
0,Bernd,Leno,0,0,10,360,9,0.0,85.0,0.0,0,69,8.5,1,0,0,0.8,45,GK
1,Rúnar Alex,Rúnarsson,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.5,40,GK
2,Willian,Borges Da Silva,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.1,63,MID
3,Pierre-Emerick,Aubameyang,4,1,44,1036,16,132.4,217.6,582.0,7,131,92.9,6,0,3,1.2,96,FWD
4,Cédric,Soares,1,1,48,1481,27,306.5,246.0,76.0,3,292,63.0,3,0,3,0.4,42,DEF

In [48]:
df["full name"] = df["first_name"] + " " + df["second_name"]
df.head()

,first_name,second_name,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost,element_type,full name
0,Bernd,Leno,0,0,10,360,9,0.0,85.0,0.0,0,69,8.5,1,0,0,0.8,45,GK,Bernd Leno
1,Rúnar Alex,Rúnarsson,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.5,40,GK,Rúnar Alex Rúnarsson
2,Willian,Borges Da Silva,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.1,63,MID,Willian Borges Da Silva
3,Pierre-Emerick,Aubameyang,4,1,44,1036,16,132.4,217.6,582.0,7,131,92.9,6,0,3,1.2,96,FWD,Pierre-Emerick Aubameyang
4,Cédric,Soares,1,1,48,1481,27,306.5,246.0,76.0,3,292,63.0,3,0,3,0.4,42,DEF,Cédric Soares

In [49]:
df = df[["full name", "total_points", "element_type", "now_cost"]]
df.head()

                   full name  total_points element_type  now_cost
0                 Bernd Leno            10           GK        45
1       Rúnar Alex Rúnarsson             0           GK        40
2    Willian Borges Da Silva             0          MID        63
3  Pierre-Emerick Aubameyang            44          FWD        96
4              Cédric Soares            48          DEF        42

In [50]:
df["GK"] = np.where(df.element_type == "GK",1, 0)
df["DEF"] = np.where(df.element_type == "DEF",1, 0)
df["MID"] = np.where(df.element_type == "MID",1, 0)
df["FWD"] = np.where(df.element_type == "FWD",1, 0)

df

,full name,total_points,element_type,now_cost,GK,DEF,MID,FWD
0,Bernd Leno,10,GK,45,1,0,0,0
1,Rúnar Alex Rúnarsson,0,GK,40,1,0,0,0
2,Willian Borges Da Silva,0,MID,63,0,0,1,0
3,Pierre-Emerick Aubameyang,44,FWD,96,0,0,0,1
4,Cédric Soares,48,DEF,42,0,1,0,0
...,...,...,...,...,...,...,...,...
732,Bruno André Cavaco Jordão,0,MID,45,0,0,1,0
733,Toti António Gomes,6,DEF,44,0,1,0,0
734,Dion Sanderson,0,DEF,40,0,1,0,0
735,Ryan Giles,0,MID,45,0,0,1,0
736,Francisco Jorge Tomás Oliveira,20,MID,55,0,0,1,0

In [51]:
df = df.set_index("full name")
df.head()

,total_points,element_type,now_cost,GK,DEF,MID,FWD
full name,,,,,,,
Bernd Leno,10,GK,45,1,0,0,0
Rúnar Alex Rúnarsson,0,GK,40,1,0,0,0
Willian Borges Da Silva,0,MID,63,0,0,1,0
Pierre-Emerick Aubameyang,44,FWD,96,0,0,0,1
Cédric Soares,48,DEF,42,0,1,0,0

### Add club of players

In [52]:
club_df = pd.read_csv("Raw Data/gw38.csv", index_col="name")
club_df.head()

,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,fixture,...,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards
name,,,,,,,,,,,,,,,,,,,,,
Eric Bailly,DEF,Man Utd,0.4,0,0,0,0,0.0,286,376,...,0,1,0.0,0,-92,11,103,49,False,0
Keinan Davis,FWD,Aston Villa,0.0,0,0,0,0,0.0,49,379,...,2,3,0.0,0,-1579,0,1579,45,False,0
Ayotomiwa Dele-Bashiru,MID,Watford,0.0,0,0,0,0,0.0,394,375,...,1,2,0.0,0,-3,0,3,45,False,0
James Ward-Prowse,MID,Southampton,6.2,0,0,29,0,0.0,341,377,...,1,4,0.0,7,-17129,12891,30020,64,False,0
Bruno Miguel Borges Fernandes,MID,Man Utd,2.9,0,0,0,0,0.0,277,376,...,0,1,0.0,1,-4540,5184,9724,116,False,1

In [53]:
club_df = club_df[["team"]]
club_df.head()

                                      team
name
Eric Bailly                        Man Utd
Keinan Davis                   Aston Villa
Ayotomiwa Dele-Bashiru             Watford
James Ward-Prowse              Southampton
Bruno Miguel Borges Fernandes      Man Utd

In [54]:
df = df.combine_first(club_df)
df

,DEF,FWD,GK,MID,element_type,now_cost,team,total_points
Aaron Connolly,0,1,0,0,FWD,53,Brighton,5
Aaron Cresswell,1,0,0,0,DEF,54,West Ham,115
Aaron Lennon,0,0,0,1,MID,46,Burnley,60
Aaron Ramsdale,0,0,1,0,GK,51,Arsenal,135
Aaron Ramsey,0,0,0,1,MID,44,Aston Villa,0
...,...,...,...,...,...,...,...,...
Álvaro Fernández,0,0,1,0,GK,45,Man Utd,31
Álvaro Fernández,0,0,1,0,GK,45,Brentford,31
Álvaro Fernández,1,0,0,0,DEF,40,Man Utd,0
Álvaro Fernández,1,0,0,0,DEF,40,Brentford,0
Çaglar Söyüncü,1,0,0,0,DEF,49,Leicester,66

In [55]:
df = df.dropna()
df

,DEF,FWD,GK,MID,element_type,now_cost,team,total_points
Aaron Connolly,0,1,0,0,FWD,53,Brighton,5
Aaron Cresswell,1,0,0,0,DEF,54,West Ham,115
Aaron Lennon,0,0,0,1,MID,46,Burnley,60
Aaron Ramsdale,0,0,1,0,GK,51,Arsenal,135
Aaron Ramsey,0,0,0,1,MID,44,Aston Villa,0
...,...,...,...,...,...,...,...,...
Álvaro Fernández,0,0,1,0,GK,45,Man Utd,31
Álvaro Fernández,0,0,1,0,GK,45,Brentford,31
Álvaro Fernández,1,0,0,0,DEF,40,Man Utd,0
Álvaro Fernández,1,0,0,0,DEF,40,Brentford,0
Çaglar Söyüncü,1,0,0,0,DEF,49,Leicester,66

### Break team into indicator variables

In [56]:
club_df = pd.get_dummies(df["team"])
club_df

,Arsenal,Aston Villa,Brentford,Brighton,Burnley,Chelsea,Crystal Palace,Everton,Leeds,Leicester,Liverpool,Man City,Man Utd,Newcastle,Norwich,Southampton,Spurs,Watford,West Ham,Wolves
Aaron Connolly,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Aaron Cresswell,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
Aaron Lennon,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Aaron Ramsdale,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Aaron Ramsey,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Álvaro Fernández,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
Álvaro Fernández,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Álvaro Fernández,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
Álvaro Fernández,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Çaglar Söyüncü,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [57]:
df = pd.concat([df, club_df], axis=1)
df

,DEF,FWD,GK,MID,element_type,now_cost,team,total_points,Arsenal,Aston Villa,...,Liverpool,Man City,Man Utd,Newcastle,Norwich,Southampton,Spurs,Watford,West Ham,Wolves
Aaron Connolly,0,1,0,0,FWD,53,Brighton,5,0,0,...,0,0,0,0,0,0,0,0,0,0
Aaron Cresswell,1,0,0,0,DEF,54,West Ham,115,0,0,...,0,0,0,0,0,0,0,0,1,0
Aaron Lennon,0,0,0,1,MID,46,Burnley,60,0,0,...,0,0,0,0,0,0,0,0,0,0
Aaron Ramsdale,0,0,1,0,GK,51,Arsenal,135,1,0,...,0,0,0,0,0,0,0,0,0,0
Aaron Ramsey,0,0,0,1,MID,44,Aston Villa,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Álvaro Fernández,0,0,1,0,GK,45,Man Utd,31,0,0,...,0,0,1,0,0,0,0,0,0,0
Álvaro Fernández,0,0,1,0,GK,45,Brentford,31,0,0,...,0,0,0,0,0,0,0,0,0,0
Álvaro Fernández,1,0,0,0,DEF,40,Man Utd,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Álvaro Fernández,1,0,0,0,DEF,40,Brentford,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Çaglar Söyüncü,1,0,0,0,DEF,49,Leicester,66,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
df.to_csv("data.csv")

### Extracting starting 11 after optimising

In [59]:
starting11_df = pd.read_csv("results.csv")
starting11_df.head()

,Column1,DEF,FWD,GK,MID,element_type,now_cost,team,total_points,Arsenal,...,Man City,Man Utd,Newcastle,Norwich,Southampton,Spurs,Watford,West Ham,Wolves,Starting 11
0,Aaron Connolly,0,1,0,0,FWD,53,Brighton,5,0,...,0,0,0,0,0,0,0,0,0,0.0
1,Aaron Cresswell,1,0,0,0,DEF,54,West Ham,115,0,...,0,0,0,0,0,0,0,1,0,0.0
2,Aaron Lennon,0,0,0,1,MID,46,Burnley,60,0,...,0,0,0,0,0,0,0,0,0,0.0
3,Aaron Ramsdale,0,0,1,0,GK,51,Arsenal,135,1,...,0,0,0,0,0,0,0,0,0,0.0
4,Aaron Ramsey,0,0,0,1,MID,44,Aston Villa,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [60]:
starting11_df = starting11_df[starting11_df["Starting 11"] == 1]
starting11_df

,Column1,DEF,FWD,GK,MID,element_type,now_cost,team,total_points,Arsenal,...,Man City,Man Utd,Newcastle,Norwich,Southampton,Spurs,Watford,West Ham,Wolves,Starting 11
44,Andrew Robertson,1,0,0,0,DEF,73,Liverpool,186,0,...,0,0,0,0,0,0,0,0,0,1.0
68,Aymeric Laporte,1,0,0,0,DEF,60,Man City,160,0,...,1,0,0,0,0,0,0,0,0,1.0
252,Harry Kane,0,1,0,0,FWD,125,Spurs,192,0,...,0,0,0,0,0,1,0,0,0,1.0
264,Heung-Min Son,0,0,0,1,MID,112,Spurs,258,0,...,0,0,0,0,0,1,0,0,0,1.0
266,Hugo Lloris,0,0,1,0,GK,55,Spurs,158,0,...,0,0,0,0,0,1,0,0,0,1.0
300,James Maddison,0,0,0,1,MID,69,Leicester,181,0,...,0,0,0,0,0,0,0,0,0,1.0
320,Jarrod Bowen,0,0,0,1,MID,69,West Ham,206,0,...,0,0,0,0,0,0,0,1,0,1.0
372,João Pedro Cavaco Cancelo,1,0,0,0,DEF,72,Man City,201,0,...,1,0,0,0,0,0,0,0,0,1.0
396,Kevin De Bruyne,0,0,0,1,MID,121,Man City,196,0,...,1,0,0,0,0,0,0,0,0,1.0
509,Mohamed Salah,0,0,0,1,MID,131,Liverpool,265,0,...,0,0,0,0,0,0,0,0,0,1.0
693,Trent Alexander-Arnold,1,0,0,0,DEF,84,Liverpool,208,0,...,0,0,0,0,0,0,0,0,0,1.0