In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("Raw Data/cleaned_players.csv")
df.head()

,first_name,second_name,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost,element_type
0,Bernd,Leno,0,0,10,360,9,0.0,85.0,0.0,0,69,8.5,1,0,0,0.8,45,GK
1,Rúnar Alex,Rúnarsson,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.5,40,GK
2,Willian,Borges Da Silva,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.1,63,MID
3,Pierre-Emerick,Aubameyang,4,1,44,1036,16,132.4,217.6,582.0,7,131,92.9,6,0,3,1.2,96,FWD
4,Cédric,Soares,1,1,48,1481,27,306.5,246.0,76.0,3,292,63.0,3,0,3,0.4,42,DEF

In [7]:
df["full name"] = df["first_name"] + " " + df["second_name"]
df.head()

,first_name,second_name,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost,element_type,full name
0,Bernd,Leno,0,0,10,360,9,0.0,85.0,0.0,0,69,8.5,1,0,0,0.8,45,GK,Bernd Leno
1,Rúnar Alex,Rúnarsson,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.5,40,GK,Rúnar Alex Rúnarsson
2,Willian,Borges Da Silva,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.1,63,MID,Willian Borges Da Silva
3,Pierre-Emerick,Aubameyang,4,1,44,1036,16,132.4,217.6,582.0,7,131,92.9,6,0,3,1.2,96,FWD,Pierre-Emerick Aubameyang
4,Cédric,Soares,1,1,48,1481,27,306.5,246.0,76.0,3,292,63.0,3,0,3,0.4,42,DEF,Cédric Soares

In [8]:
df = df[["full name", "total_points", "element_type", "now_cost"]]
df.head()

                   full name  total_points element_type  now_cost
0                 Bernd Leno            10           GK        45
1       Rúnar Alex Rúnarsson             0           GK        40
2    Willian Borges Da Silva             0          MID        63
3  Pierre-Emerick Aubameyang            44          FWD        96
4              Cédric Soares            48          DEF        42

In [9]:
df["GK"] = np.where(df.element_type == "GK",1, 0)
df["DEF"] = np.where(df.element_type == "DEF",1, 0)
df["MID"] = np.where(df.element_type == "MID",1, 0)
df["FWD"] = np.where(df.element_type == "FWD",1, 0)

df

,full name,total_points,element_type,now_cost,GK,DEF,MID,FWD
0,Bernd Leno,10,GK,45,1,0,0,0
1,Rúnar Alex Rúnarsson,0,GK,40,1,0,0,0
2,Willian Borges Da Silva,0,MID,63,0,0,1,0
3,Pierre-Emerick Aubameyang,44,FWD,96,0,0,0,1
4,Cédric Soares,48,DEF,42,0,1,0,0
...,...,...,...,...,...,...,...,...
732,Bruno André Cavaco Jordão,0,MID,45,0,0,1,0
733,Toti António Gomes,6,DEF,44,0,1,0,0
734,Dion Sanderson,0,DEF,40,0,1,0,0
735,Ryan Giles,0,MID,45,0,0,1,0
736,Francisco Jorge Tomás Oliveira,20,MID,55,0,0,1,0

In [10]:
df = df.set_index("full name")
df.head()

,total_points,element_type,now_cost,GK,DEF,MID,FWD
full name,,,,,,,
Bernd Leno,10,GK,45,1,0,0,0
Rúnar Alex Rúnarsson,0,GK,40,1,0,0,0
Willian Borges Da Silva,0,MID,63,0,0,1,0
Pierre-Emerick Aubameyang,44,FWD,96,0,0,0,1
Cédric Soares,48,DEF,42,0,1,0,0

### Add club of players

In [12]:
club_df = pd.read_csv("Raw Data/gw1.csv", index_col="name")
club_df.head()

,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,fixture,...,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards
name,,,,,,,,,,,,,,,,,,,,,
Eric Bailly,DEF,Man Utd,0.0,0,0,0,0,0.0,286,6,...,1,5,0.0,0,0,0,0,50,True,0
Keinan Davis,FWD,Aston Villa,0.4,0,0,0,0,0.0,49,8,...,2,3,0.0,0,0,0,0,45,False,0
Ayotomiwa Dele-Bashiru,MID,Watford,0.0,0,0,0,0,0.0,394,8,...,2,3,0.0,0,0,0,0,45,True,0
James Ward-Prowse,MID,Southampton,2.3,0,0,20,0,30.5,341,4,...,1,3,0.0,2,0,0,0,65,False,0
Bruno Miguel Borges Fernandes,MID,Man Utd,4.4,0,3,61,0,35.9,277,6,...,1,5,59.0,20,0,0,0,120,True,0

In [13]:
club_df = club_df[["team"]]
club_df.head()

                                      team
name
Eric Bailly                        Man Utd
Keinan Davis                   Aston Villa
Ayotomiwa Dele-Bashiru             Watford
James Ward-Prowse              Southampton
Bruno Miguel Borges Fernandes      Man Utd

In [14]:
output_df = df.combine_first(club_df)
output_df

,DEF,FWD,GK,MID,element_type,now_cost,team,total_points
Aaron Connolly,0,1,0,0,FWD,53,Brighton,5
Aaron Cresswell,1,0,0,0,DEF,54,West Ham,115
Aaron Lennon,0,0,0,1,MID,46,NaN,60
Aaron Ramsdale,0,0,1,0,GK,51,NaN,135
Aaron Ramsey,0,0,0,1,MID,44,Aston Villa,0
...,...,...,...,...,...,...,...,...
Zack Steffen,0,0,1,0,GK,44,Man City,7
Zak Swanson,1,0,0,0,DEF,40,NaN,0
Álvaro Fernández,0,0,1,0,GK,45,NaN,31
Álvaro Fernández,1,0,0,0,DEF,40,NaN,0
Çaglar Söyüncü,1,0,0,0,DEF,49,Leicester,66

In [15]:
output_df = output_df.dropna()
output_df.head()

,DEF,FWD,GK,MID,element_type,now_cost,team,total_points
Aaron Connolly,0,1,0,0,FWD,53,Brighton,5
Aaron Cresswell,1,0,0,0,DEF,54,West Ham,115
Aaron Ramsey,0,0,0,1,MID,44,Aston Villa,0
Aaron Wan-Bissaka,1,0,0,0,DEF,51,Man Utd,41
Abdoulaye Doucouré,0,0,0,1,MID,53,Everton,90

In [16]:
output_df.to_csv("data.csv")